#sidebar {
    position: fixed;
    width: 150px;
    background-color: #DDD; 
    font-size: 21px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#content {
    position: relative;            
    margin-left: 150px;
}

::-webkit-scrollbar {
    width: 0.25em;
    height: 1em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}